<form class="form-horizontal">
  <fieldset>
    <h2 class="center"> Add User</h2>
    <br/>

    <div class="form-group">
      <div class="col-lg-8">
        <label class="clo-lg-4 control-label" for="name">Name : </label>

        <input type="text" id="name" name="name" class="form-control input-lg" ng-model="user.name">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-8">
        <label class="clo-lg-4 control-label" for="surname">Surname : </label>
        <input type="text" id="surname" name="surname" class="form-control input-lg" ng-model="user.surname">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-8">
        <label class="clo-lg-4 control-label" for="website">Website : </label>
        <input type="text" id="website" name="website" class="form-control input-lg" ng-model="user.website">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-8">
        <label class="clo-lg-4 control-label" for="email">Email : </label>
        <input type="text" id="email" name="email" class="form-control input-lg" ng-model="user.email">
      </div>
    </div>

    <div class="form-group center">
      <div class="col-lg-offset-3 col-lg-6">
        <button id="add" name="add" class="btn btn-success" ng-click="userAdd()">Add</button>
        <a href="#/UserView">
          <button class="btn btn-danger">Cancel</button>
        </a>
      </div>
    </div>


  </fieldset>
</form>

